
<div class="rows">
    <div class="columns large-12">
        <h4></h4>
    </div
</div>

<div class="rows">
    <div class="columns large-6 medium-6 small-12">
        <h4>
            Configure Language keys
        </h4>
    </div>  
</div>

<div class="reveal" id="askSuffix" data-reveal>
  <h3>Add a new Lang</h3>
  <p class="lead">Provide the suffix ( eg, 'it, sp, in')</p>
  <input ng-change="errorNew = false" ng-class="{'is-invalid-input': errorNew}" type="text" style="line-height: 2rem;" ng-model="suffix" placeholder="Enter a suffix" maxlength="5">
  <span ng-class="{'is-visible': errorNew}" class="form-error">This lang is already available.</span>
  <a class="button primary expanded round" ng-click="addLang()">
            Add
  </a>
  <button class="close-button"  data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>



<div class="rows home" ng-repeat="lang in workingLangs">
    <div class="columns large-offset-3 large-6 medium-12">
        <a class="button expanded round" ui-sref="config({lang:lang.key})">
            Configure keys for {{lang.key}}
        </a><span ng-if="lang.hash === null" ng-click="removeTempLang(lang.key)" class="badge alert">X</span>
    </div>
</div>

<div class="rows">
    <div class="columns large-offset-3 large-6 medium-6 small-12">
        <a class="button secondary expanded round" ng-click="promptLang()" >
            Add Lang
        </a>
    </div
</div>
