<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <title>P1 i18n Tool</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">
  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
  <!-- build:js(.tmp) js/lib.js -->
  <script src="../bower_components/jquery/dist/jquery.min.js"></script>
  <script src="../bower_components/foundation-sites/dist/js/foundation.min.js"></script>
  <!-- endbuild -->
  <!-- build:css(.) styles/vendor.css -->
  <!-- bower:css -->
  <!-- endbower -->
  <!-- endbuild -->
  <!-- build:css(.tmp) styles/main.css -->
  <link rel="stylesheet" href="styles/main.css">
  <!-- endbuild -->
</head>

<body class="body-wrap">
  <!--[if lte IE 8]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

  <!-- Add your site or application content here -->
  <div data-sticky-container>
    <div id="p1menu" class="title-bar" data-top-anchor="1" data-sticky data-options="marginTop:0; width: 100%">
      <div class="title-bar-left">
        <button class="menu-icon" type="button" data-toggle="offCanvas"></button>
        <span class="title-bar-title">ProjectOne I18n Tool: <label  class="ng-cloak label warning" ng-if="pageTitle">{{pageTitle}}</label></span>
      </div>
      <div class="title-bar-right">
        <a ui-sref="home">Home</a>
      </div>
    </div>
  </div>

  <div class="off-canvas position-left" id="offCanvas" data-off-canvas>   

    <!-- Menu -->
    <ul class="vertical menu">
      <li><a data-close ui-sref="home">Home</a></li>
      <li><a data-close ng-click="clearCurrent()">Clear and Reload</a></li>  
      <li><a data-close ng-click="downloadCurrent()" >Download Zip</a></li>    
    </ul>

  </div>

  <div class="off-canvas-content" data-off-canvas-content>

    <div class="rows">
      <div class="columns large-12">

      </div>
    </div>

    <div class="rows ">
      <div class="mainCtr columns large-12" ui-view></div>
    </div>

    <div class="rows">
      <div class="columns large-12">
        <div class="footer">

        </div>
      </div>
    </div>
    
  </div>

  <script>
    $(document).ready(function () {
      $(document).foundation();
    });
  </script>
  <script src="bower_components/requirejs/require.js" data-main="scripts/main.js"></script>

</body>

</html>